body { !important
  margin: 0;
  padding: 0;
}

#home {
  background: black;
}

#home p {
  font-size: 40px;
}


.main-footer {padding-top: 60px;
    padding-bottom: 60px;
    background-color: #465052;
	color: #fff;
	margin-top: 50px;
}

.google-map {width: 100%;}

.soc-item {color: #fff; font-size: 24px;}
.soc-item a {color:#fff; text-decoration: none;}
.soc-item a:hover {color:#fff; text-decoration: none; opacity: 0.8;}

.main-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #465052;
}

section {background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;}

.contenido-secciones {
	margin-top: 150px;
}

.first-slide { 
	
	opacity: 0.75;
}

}
.second-slide { opacity: 0.75;
}
.third-slide { opacity: 0.75;
}

.carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 75px;